.about {
    background-color: #282c34;
    color: white;
    position:absolute;
    top: calc(4vh + 3vmin);
    right:0px;
    bottom:0px;
    left:0px;
    
}

main {
    overflow-wrap: normal;
    margin: auto;
    display: grid;
    grid-template-columns:50% 50%;
    max-width: calc(600px);
    height:100%;
    margin-top: 2vh;
    padding: 20px;
    font-family: sans-serif;
    text-align: right;
    overflow-y:scroll;
}

main::-webkit-scrollbar {
    display: none;
  }

.right {
    font-size: calc(3vh);
    margin-right: 1vw;
    text-align: justify; 
    overflow-wrap: break-word;
    margin-right: 0;
    margin-left: 1vw;
}



.left{
    font-size: calc(3vh);
    margin-right: 1vw;
  }