.gallery {
    background-color: rgb(44, 44, 44);
    margin: auto;
    background-color: #282c34;
    color: white;
    overflow: hidden;
    width: 90vw;
    height: 80vh;
    font-size: calc(10px + 2vmin);
    display: flex;

}