.gallery {
    margin: auto;
    background-color: #282c34;
    color: white;
    overflow: hidden;
    overflow-wrap: break-word;
    position:absolute;
    top: 6.5vmax;
    right:0px;
    bottom:0px;
    left:0px;
    font-size: calc(10px + 2vmin);
    display: flex;
}