.wordledisplay {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    place-content: center;
    text-align: center;
    font-size: calc(2.7vw);
    margin: 1vw;
}
  
.break {
  grid-column: 1 / 6;
  height: 0.3em;
}
  
