.about1 {
    background-color: #282c34;
    color: white;
    position:absolute;
    top: calc(4vh + 3vmin);
    right:0px;
    bottom:0px;
    left:0px;
    
}


.right1 {
    font-size: calc(2vh + 1vw);
    margin-right: 1vw;
    text-align: left; 
    overflow-wrap: break-word;
    margin-right: 0;
    margin-left: 2vw;
}



.left1 {
    font-size: calc(2vh + 1vw);
    margin-right: 0.5vw;
  }
    
    
